@import 'tailwindcss';

* {
    font-family: Arial, Helvetica, sans-serif;
}

a:hover,
button:not(:disabled):hover,
input[type='checkbox']:not(:disabled):hover,
input[type='button']:not(:disabled):hover {
    @apply cursor-pointer drop-shadow-stone-600/25 drop-shadow-xs;
}

button:disabled,
input:disabled,
input[type='checkbox']:disabled,
input[type='button']:disabled {
    @apply cursor-not-allowed;
}

a:focus-visible,
button:focus-visible,
input:focus-visible {
    @apply outline-2 outline-red-400;
}

html {
    scrollbar-gutter: stable;
    overflow-x: hidden;
    overflow-y: scroll;
}

input[type='checkbox'] {
    @apply appearance-none grid place-content-center w-4 h-4 bg-stone-100 rounded-sm;
}

input[type='checkbox']:hover {
    @apply bg-red-100;
}

input[type='checkbox']:disabled {
    @apply bg-stone-400/50;
}

input[type='checkbox']::before {
    @apply w-4 h-4 opacity-100 bg-red-500/80 transition-opacity duration-250 ease-in-out rounded-sm;
    content: '';
}

input[type='checkbox']:disabled::before {
    @apply opacity-30;
}

input[type='checkbox']:not(:checked)::before {
    @apply opacity-0;
}

main::after {
    background-image: url('./assets/background_banner.webp');
    background-position: top;
    background-repeat: repeat;
    content: '';
    filter: saturate(80%);
    inset: 0;
    opacity: 0.05;
    position: absolute;
    z-index: -1;
}

.text-very-small {
    @apply text-xs;
}

.text-small {
    @apply text-xs md:text-sm;
}

.text-normal {
    @apply text-sm md:text-base;
}

.text-large {
    @apply text-base md:text-lg;
}

.text-extra-large {
    @apply text-lg sm:text-xl md:text-2xl;
}

/* Save Score red */

.animate-red-50-red-100:focus-visible:not(:active)::before {
    @apply absolute rounded-md;
    content: '';
    background-image: linear-gradient(
        to right,
        #fafaf9 /* stone-50 */,
        #fee2e2 /* red-100 */,
        #fafaf9 /* stone-50 */,
        #fee2e2 /* red-100 */
    );
    background-size: 200%;
    inset: 0px;
    z-index: -1;
    animation: focus-animation 3s ease-in-out infinite alternate;
}

.animate-red-50-red-100:active::before {
    @apply hidden;
}

.animate-red-50-red-100:not([disabled]):hover::before {
    @apply absolute rounded-md;
    content: '';
    background-image: linear-gradient(
        to right,
        #fef2f2 /* red-50 */,
        #fecaca /* red-200 */,
        #fef2f2 /* red-50 */,
        #fecaca /* red-200 */
    );
    background-size: 200%;
    inset: 0px;
    z-index: -1;
    animation: focus-animation 3s ease-in-out infinite alternate;
}

/* Save Score Gray */

.animate-stone-50-stone-300:focus-visible::before {
    @apply absolute rounded-md;
    content: '';
    background-image: linear-gradient(
        to right,
        #fafaf9 /* stone-50 */,
        #e7e5e4 /* stone-200*/,
        #fafaf9 /* stone-50 */,
        #e7e5e4 /* stone-200*/
    );
    background-size: 200%;
    inset: 0px;
    z-index: -1;
    animation: focus-animation 3s ease-in-out infinite alternate;
}

.animate-stone-50-stone-300:active::before {
    @apply hidden;
}

.animate-stone-50-stone-300:not([disabled]):hover::before {
    @apply absolute rounded-md;
    content: '';
    background-image: linear-gradient(
        to right,
        #fafaf9 /* stone-50 */,
        #d6d3d1 /* rstone-300 */,
        #fafaf9 /* stone-50 */,
        #d6d3d1 /* rstone-300 */
    );
    background-size: 200%;
    inset: 0px;
    z-index: -1;
    animation: focus-animation 3s ease-in-out infinite alternate;
}

/* Navigation */

.animate-stone-50-red-200:focus-visible::before,
.animate-stone-50-red-200:hover::before {
    @apply absolute rounded-md;
    content: '';
    background-image: linear-gradient(
        to right,
        #fafaf9 /* stone-50 */,
        #fecaca /* red-200 */,
        #fafaf9 /* stone-50 */,
        #fecaca /* red-200 */
    );
    background-size: 200%;
    inset: 0px;
    z-index: -1;
    animation: focus-animation 3s ease-in-out infinite alternate;
}

.animate-stone-50-red-200:active::before {
    @apply hidden;
}

@keyframes focus-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.legendinfo::after {
    @apply absolute rounded-full blur-xs;
    content: '';
    background-image: conic-gradient(
        from var(--angle),
        transparent 25%,
        #dc2626 /* red-600 */
    );
    inset: -1px;
    z-index: -1;
    animation: 2s spinanimation linear infinite;
}

.winner::after,
.winner::before {
    @apply absolute rounded -z-10;
    content: '';
    background-image: conic-gradient(
        from var(--angle),
        transparent 15%,
        #eab308 /* yellow-500 */
    );
    inset: -6px;
    animation: 1.5s spinanimation linear infinite;
}

.winner::before {
    @apply blur-sm opacity-75;
    background-image: conic-gradient(
        from var(--angle),
        transparent 50%,
        #f59e0b /* amber-500 */
    );
}

@keyframes spinanimation {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    @apply bg-stone-800;
}

::-webkit-scrollbar-thumb {
    @apply bg-stone-400 rounded-md;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-stone-300/50 rounded-md;
}

::-webkit-scrollbar-thumb:active {
    @apply bg-stone-400/50 rounded-md;
}
